h2 {
    margin-top: 5px;
}

.bold {
    color: #fdb914;
    font-weight: bold;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 5px;
}

button:hover {
    color: #FFCA28;
}

.home-logo {
    margin: auto;
}

.mat-raised-button {
    background-color: #fdb914;
}