<h2>Bienvenido/a!</h2>

<blockquote>Votar no debería ser cada 4 años!</blockquote>

<p>"<span class="bold">{{ title }}</span>" está pensado para ayudar a entidades a crear eventos y hacer un seguimiento de los mismos usando un sistema de votaciones simple y divertido!</p>

<br>

<h5>¿Qué eres?</h5>
<br>
<div class="row">
    <div class="col s12 m4 offset-m2">
        <button mat-raised-button (click)="login()" color="primary">Soy un Usuario</button>
    </div>

    <div class="col s12 m4">
        <button mat-raised-button (click)="login()" color="primary">Soy una Entidad</button>
    </div>
</div>