<h2>La votación hecha fácil</h2>

<p class="flow-text">Votar no debería ser cada 4 años! "<span class="bold">{{ title }}</span>" está pensado para ayudar a entidades a crear eventos y hacer un seguimiento de los mismos usando un sistema de votaciones simple y divertido!</p>

<br>

<h5>¿Qué eres?</h5>
<br>
<div class="row">
    <div class="col s12 m6">
        <button class="button-1" mat-raised-button (click)="login()" color="primary">Usuario</button>
    </div>

    <div class="col s12 m6 ">
        <button class="button-2" mat-raised-button (click)="login()" color="primary">Entidad</button>
    </div>
</div>