
.header {
   position: fixed;
   overflow: hidden;
   top: 0;
   max-width: 820px;
   z-index: 999;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-Title, .example-icon {
  transition: padding 3s;
  padding: 0 20px;
}

.example-icon:last-child {
  padding-right: 35px;
}

@media only screen and (max-width:600px) {

  .nav-Title {
      transition: padding 2s;
      padding-left: 5px;
    }
}

.nav-Title::after {
    content: " - Angular 6 / Material Design";
}

@media screen and (max-width: 600px) {
  .nav-Title::after {
      content: "";
    }
}

mat-icon:hover{
  cursor:pointer;
  color:#FFCA28;
}

mat-toolbar {
  max-height: 50px;
  min-height: 50px;
  vertical-align: middle;
  border-bottom: 2px solid black;
}
