<div class="col m6 s12 events-list animated fadeIn">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{'title': panelOpenState == true}">
                    {{event.eventName}}
                </mat-panel-title>
                <mat-panel-description>
                    {{event.eventTime}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            {{event.eventDescription}}

            <div class="container">
                <event-polls [entityEvent]="entityEvent"></event-polls>
            </div><br><br>

            <div class="buttonContainer">
                <button (click)="createPoll()" class="show-poll" mat-flat-button color="primary">Crear Tema</button>
            </div>

            <br>

            <div *ngIf="showcreatePoll">
                <create-poll [entityEvent]="entityEvent"></create-poll>
                <!-- Polls -->
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>