<div class="col m6 s12 events-list animated fadeIn">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{'title': panelOpenState == true}">
                    {{event.eventName}}
                </mat-panel-title>
                <mat-panel-description>
                    {{event.eventTime}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            {{event.eventDescription}}

          <button class="btn" (click)="createPoll(event.entityID)">Crear Tema</button>  
        </mat-expansion-panel>
    </mat-accordion>
</div>
